<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Github -->
                <a
                        class="btn btn-link btn-floating btn-lg text-dark m-1"
                        href="https://github.com/tjwnuk/papug"
                        target=”_blank”
                        role="button"
                        data-mdb-ripple-color="dark"
                        style="text-decoration:none;"
                ><i class="fab fa-github"></i
                > Github</a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-dark" href="https://github.com/tjwnuk" target=”_blank”>tjwnuk</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<!-- End of .container -->