{% extends "base" %}
{% block title %} About Papug {% endblock %}
{% block content %}

<h1>About Papug</h1>

<div class="row" style="padding-top:5em;">
  <!-- Column 1 -->
  <div class="col-md-6 d-flex justify-content-center align-items-center">
    <!-- Content for Column 1 -->
    <img src="images/parrot.svg" alt="papug image" style="width: 75%; height: auto;" />
  </div>
  <!-- Column 2 -->
  <div class="col-md-6">
    <!-- Content for Column 2 -->
    <h1>About Papug</h1>
    <p>Welcome to Papug, your social media destination for sharing thoughts, ideas, and moments with the world!</p>
    <p>
      Papug is a dynamic platform that combines the best features of Twitter with a fresh twist. Here, you can seamlessly browse through a stream of posts from users around the globe, engaging with the latest trends and stories that matter to you.
    </p>
    <p>
      But that's not all – Papug empowers you to join the conversation by adding your own unique posts, enabling you to connect, express yourself, and discover new perspectives in the ever-evolving world of social media.
    </p>
      Join us today and let your voice take flight on Papug!</p>
  </div>
</div>

{% endblock %}