{% extends "base" %}
{% block title %} Home Page {% endblock %}
{% block content %}

<h3>Home Page</h3>

<!--{% if userIsLogged %}-->
<!--You're logged as {{ user.getUsername() }}-->
<!--{% endif %}-->
<!--{% if not userIsLogged %}-->
<!--You're not logged.-->
<!--{% endif %}-->

{% for post in posts %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <p>{{post.getId()}}. <a href = "/post/{{post.getId()}}">{{post.getTitle()}}</a></p>
            </h5>
            <h6 class="card-subtitle mb-2">{{post.getDate().toString()}}</h6>
            <p class="card-text">{{post.getContent()}}</p>

        </div>

    </div>

</div>

{% endfor %}

<div class="d-flex justify-content-center" style="padding-top: 3em;">
    {% if pageNumber != 0 %}
    <button class="btn btn-secondary" onclick="window.location = '/page/' + ({{pageNumber}} - 1);" style="margin-right: 1em">⬅️ Prev</button>
    {% endif %}
    <p style="font-size: 20px;">{{pageNumber}} / {{numberOfAllPages}}</p>
    {% if pageNumber != numberOfAllPages %}
    <button class="btn btn-secondary" onclick="window.location = '/page/' + ({{pageNumber}} + 1);" style="margin-left: 1em">Next ➡️</button>
    {% endif %}
</div>


{% endblock %}